<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>notice_teample</display-name>
 
 
<servlet>
<servlet-name>notice_modifyok</servlet-name>
<servlet-class>notice.notice_modifyok</servlet-class>
</servlet> 
 
<servlet-mapping>
<servlet-name>notice_modifyok</servlet-name>
<url-pattern>/shop_admin/shop_source/admin/notice_modifyok.do</url-pattern>
</servlet-mapping> 
 
 
<servlet>
<servlet-name>notice_delete</servlet-name>
<servlet-class>notice.notice_delete</servlet-class>
</servlet> 
 
<servlet-mapping>
<servlet-name>notice_delete</servlet-name>
<url-pattern>/shop_admin/shop_source/admin/notice_delete.do</url-pattern>
</servlet-mapping> 
 
<servlet>
<servlet-name>notice_view</servlet-name>
<servlet-class>notice.notice_view</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>notice_view</servlet-name>
<url-pattern>/shop_admin/shop_source/admin/notice_view.do</url-pattern>
</servlet-mapping> 
 
<servlet>
<servlet-name>notice_list</servlet-name>
<servlet-class>notice.notice_list</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>notice_list</servlet-name>
<url-pattern>/shop_admin/shop_source/admin/notice_list.do</url-pattern>
</servlet-mapping> 
 
<servlet>
<servlet-name>notice_writeok</servlet-name>
<servlet-class>notice.notice_writeok</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>notice_writeok</servlet-name>
<url-pattern>/shop_admin/shop_source/admin/notice_writeok.do</url-pattern>
</servlet-mapping> 
  
</web-app>